@import 'fonts.css';
@import '../node_modules/react-image-gallery/styles/css/image-gallery.css';
@import 'header.css';
@import 'content.css';

html,
body,
#__next,
#home {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 1vw;
}
