html, body, #__next, #home {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 1vw;
}

@font-face {
  font-family: solano-gothic-bd;
  src: url("/fonts/SolanoGothicMVB-BdCap.otf");
}

@font-face {
  font-family: solano-gothic-lc;
  src: url("/fonts/SolanoGothicMVB-Sb.otf")
}

.header-bg {
  width: 100%;
  height: 100%;

  background-size: cover;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('/hallo.jpg');
  background-attachment: fixed;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 60%;
  height: 50%;

  color: white;
}

#header-logo {
  width: 50%;
  margin: 1em 0;
}

#title-text {
  font-size: 3.5em;
  font-family: 'solano-gothic-bd';
}

#blurb {
  font-size: 2em;
  font-family: 'solano-gothic-lc';
  background: rgba(100, 100, 100, 0.6);
  padding: 0.25em 0.5em;
}